/*general body*/
body{
    text-align: center;
    color:white;
    overflow-x:hidden;
}

html{
    scroll-behavior: smooth;
}


 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color:rgba( 72,85,99, 0.993);
    --overlay-color:rgba(72,85,99, 0.85);
    --menu-speed:0.75s;
    --main-font: 'Raleway', sans-serif;
    --sec-font: 'Shadows Into Light', cursive;
    --third-font: 'Archivo Narrow', sans-serif;

}

img{
    width: 100%;
    max-width: 100%;
}

a{
    text-decoration: none;
}

P{
    line-height: 2;
    font-size: 20px;
    font-weight:200;
    font-family: var(--main-font);
    animation: fadedown 2s backwards;
    animation-delay: .5s;
}

.container{
    width:100%;
    max-width:122.5rem;
    margin: 0 auto;
    padding: 0 2.4rem;
}
/*general body ends*/




/*header*/

.main-nav{
    grid-area: nav;
}
.nav-list{
    grid-area: ul;
}
.nav-item{
    grid-area: li;
}

.wrapper {
    
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 1fr 3fr;
    grid-template-areas: 
      "header  header"
      "nav     nav"
}

nav ul{
    display:flex;
    justify-content: space-evenly;
    padding-top:0;
   
}

.nav-link{
    padding-top:10px;
    color:gray;
    font-weight:2000;
    word-wrap:wrap;
    font-family:var(--main-font);
    font-size:20px;
    letter-spacing: 2px;
    margin-right:-2px;
    text-transform: uppercase;
}

.nav-link:hover{
    color: gold;
}

/*header ends*/


/*homepage animation*/
.slider{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height:100vh;
    background: linear-gradient(to left, #485563,#29323c);
    z-index: -1;
}

.barbara {
    width:100%;
    height:200vh;
    padding: 50px;
    position: absolute;
    object-fit: cover;
}

.barbara #GENIUS {
    margin-top: 100px;
    z-index: 1500;
    display:flex;
    align-items: center;
}


.barbara::after{
    content:"";
    width: 100%;
    height: 100vh;
    position: absolute;
    left: 0;
    opacity: 0;
    top: 100;
} 

.button:hover {
    color: orange;
}



 .barbara #Rightarm {
   animation: movehand 1s infinite linear alternate;
   transform-origin: top;
   transform-box: fill-box;
  
}

.barbara #Leftarm{
   animation: movehand 1s infinite linear alternate;
   transform-origin: top;
   transform-box: fill-box;

}

@keyframes movehand {
    from {
        transform: rotateZ(0deg);
    }
    to {
        transform: rotateZ(5deg);
    }
}

.barbara #smoke1 {
        animation: smoke 5s linear infinite;
        transition: 0.5s linear;
}

.barbara #smoke2 {
    animation: smoke 5s linear infinite;
    transition: 0.5s linear;
}

@keyframes smoke {
    0%{
     transform: translateY(0px);
    }
    50%{
      transform: translateY(-35px);
      opacity: 1;
    }
    70%{
      transform: translateY(-55px);
      opacity: 1;
      width: 75%;
      margin-left: 20px;
    }
    
    100%{
     transform: translateY(-115px);
      opacity: 0.2;
      width: 20%;
      margin-left: 40px;
    }
    
  }


/*discover section*/
.discover{
    widows: 100%;
    height: 100%;
    background: linear-gradient(to left, #485563,#29323c);
    padding:auto;
    background-size: cover;
    
}

.global-headline{
    text-align: center;
    margin-top: 50px;
    padding: 10px;
    margin-bottom:20px;
}


.global-headline .sub-headline{
    letter-spacing: 1px;
    line-height:2;
    
}

.headline{
    color: white;
    font-size:20px;
    animation: scale 1s forwards;
    font-family: var(--main-font);
    letter-spacing:2px;
    
}

.queenty{
    color:aquamarine;
    font-size: 18px;
}

.queenty:hover{
    color:gold;
}

.sub-headline {
    font-size:36px;
    font-weight:500;
    line-height:2;
    letter-spacing: 2px;
    font-family:var(--sec-font);
    letter-spacing: 2px;
    opacity:0;
    animation: fadeup 2s forwards;
    animation-delay: .5s;
    
}

.separator {
    display:flex;
    align-items:center;
    justify-content: center;
    margin-top:25px;
}

.line{
    width:100%;
    max-width: 8.4rem;
    height:.25rem;
    background-color:orangered;
    position: relative;
    animation: grow 3s forwards;
    animation-delay: .5s;
    opacity: 0;
    
}

.line-right::before,
.line-left::before{
    content:"";
    position: absolute;
    border:.1rem groove transparent;
    transform: translateY(-50%);
    animation: grow .5s forwards;
    animation-delay: 1.2s;
    opacity: 0;
}

.heart {
    font-size:36px;
    color:orangered;
    margin: 0 0.5rem;
    animation: up 1.5s infinite;

}

.single-animation {
    display: flex;
    align-items: end;
    justify-content: end;
    padding-right:20px;
    margin-right: 30px;
    margin-bottom: 30px;
    margin-bottom: 90px;
    animation: fadedown 0.5s wards;
    animation-delay: 1.5s;
    color:white;
   
}

.single-animation:hover{
    text-decoration:underline;
}

.btn {
    color:white;
    font-weight:100;
    font-family:var(--main-font);
    letter-spacing: 2px;
    margin-right:-2px;
    text-transform: uppercase;
    position:relative;
    transition: color .5s;
    display: inline-block;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.cta-btn{
    font-size:18px;
    padding:.4rem 0.8rem;
    transition: background-color .5s;  
    position: relative;
}

.cta-btn:hover,
.cta-btn:focus{
     color:gold;
     text-decoration: underline;
}

.btn::before{
    content:"";
    position: absolute;
    left:0;
    width: 100%;
    height:2px;
    
}
.btn:hover,
.btn:focus{
    color:gold;
    text-decoration: underline;
}


.my-info{
    text-align: center;
}

.my-info-img {
    /* display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap:1.5rem; */
    animation: move 2s backwards;
    display:flex;
    flex-direction:column;
    align-items: flex-start;
    width:100%;
    height:auto;
    max-width:300px;
    

}

.my-description {
    margin-bottom: 3.5rem;
}

.my-description p{
    line-height: 2;
    margin-bottom: 2.4rem;

}
/*discover ends*/



/*skills section*/

.skills{
    width:100%;
    height:70vh;
    background: linear-gradient(to left, #485563,#29323c);
    padding-top:100px;
   
}


.bulletin {
    display:grid;
    grid-template-columns: repeat(3,3fr);
    grid-gap:2rem;
    padding-top:20px;
    margin-top: 10px;

}

.bulletin-list{
    position: absolute;
    color:white;

}

.star{
    font-size:20px;
    font-family:var(--third-font);
    letter-spacing:1px;
}

/* .star:hover{
     background-color:pink;
} */

.askterisk{
    font-size:15px;
    animation: spin 1s forwards infinite ;    
}


.between{
    margin: auto;
    display: flex;
    align-items:center;
}

/*skills section ends*/



/*github section starts*/
.github{
    background: linear-gradient(to left, #485563,#29323c);
    width: 100%;
    height: 220vh;
    padding:-30px;
    display:flex;
    align-items: center;
    
}

.image-group {
    padding: 20px;
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap:1.5rem;
    animation: move 1s forwards;
}

.my-description{
    padding-top: 15px;
    margin-bottom:0;
}

.single-animation{
    display:flex;
    align-items: flex-end;
    justify-content: flex-end;
}
/*github section ends*/



/*footer*/
.footer{
    width:100%;
    height:100vh;
    padding: 20px 0;
    background: linear-gradient(to left, #485563,#29323c);
    color:white;
    text-align:center;
}

.footer h2{
  font-family: var(--sec-font);
  letter-spacing: 2px;
  font-size: 36px;
  font-weight: 200px;
  margin-top: 30px;
  padding: 20px;
  
}

.footer .separator{
    margin-top: 20px;
    margin-bottom:20px;
}

.footer-content {
    overflow:hidden;
    display:flex;
    align-items: center;
    justify-content: center;
}  

.social-icons {
    list-style:none;
    margin-bottom: 8.5rem;
    display:flex;
    justify-content:center;
    align-items:center;
    
}

.social-icons i {
    font-size:2rem;
    color:white;
    padding: .8rem 2rem;
    opacity: .5;
    transition: color .5s;
    display:flex;
    align-items: center;
    justify-content: center;
    transition: transform .5s;
    
}

.social-icons i:hover,
.social-icons i:focus{
    color:gold;
}


/* responsive media queries*/
@media screen and (min-width : 900px) {

    .btn:hover,
    .btn:focus{
    color:gold;
    text-decoration: underline;
}

    .slider{
        width:100%;
        height:130vh;
    }

    .barbara {
        width:100%;
        height: 100vh;
    }
   
    .discover { 
        width: 100%;
        height:110vh;
        padding-left: auto;
        display:flex;
        align-items: center;
        justify-content: center; 
    }


    .skills .between {
        width:100%;
       
    }

    .github{
        width:100%;
        height:150vh;
        display:flex;
        align-items: center;
        justify-content: center;
        padding-top:-100px;
        margin:auto;
    }

    .github .image-group {
        position: relative;
        padding: 0 20px;
        margin-top: 20px;
        display: grid;
        grid-template-columns:repeat(4, 3fr);
        grid-gap:1rem;

    } 

    .github img{
        width:100%;
        max-width:200px;
        max-height:200px;
    }
    
    .single-animation{
        display:flex;
        align-items: flex-end;
        justify-content: flex-end;
        padding-top:30px;
    }

    .active{
        position: relative;
    }

    .active::before{
        content:'';
        position: absolute;
        width:100%;
        height:2px;
        background-color:white;
        left:0;
        bottom:-3px;
    }

    .sub-headline {
        font-size: 3.5rem;
    }

    .headline{
        font-size:1.5rem;
        letter-spacing:.8rem;
    }
    .line{
        max-width: 11.4rem;
    }

    .my-info{
        display:flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-evenly;
        padding-top: 1px;
        /* width:100%;
        height: 100vh; */
    } 
    .my-info-img{
        display:grid;
        grid-template-columns: 2;
        width:100%;
        height:auto;
        padding-top: 100px;
    }
     .my-info > div{
       flex:1;
    } 
    
    .bulletin {
        display:grid;
        grid-template-columns: repeat(3,3fr);
        grid-gap:1rem;
        padding-top:20px;
        margin-top: 50px;
    }
    
    .bulletin-list{
        position: absolute;
        color:white;
    }
    
    h5{
        font-size:20px;
        font-family:var(--third-font);
        letter-spacing:1px;
        font-weight:0;
    }

    .footer-content {
        max-width: 77.5rem;
        margin: auto;
    }
    .footer-content-about {
        max-width: 51.3rem;
        margin: 0 auto 5.4rem;
    }

    .footer-content-divider{
        display:flex;
        justify-content: space-between;
    }

    .social-media{
        width: 100%;
    
    }
    .social-icons i{
        opacity:1;
        display:flex;
        align-items:center;
        justify-content: center;
    } 
}


/*animation*/
@keyframes fadeup {
    0% {
        transform: translateY(4rem);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes scale {
    0% {
        transform: scale(2);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes grow {
    0% {
        width:0;
    }
    100% {
        opacity: 1;
        width:100%;
    }
}


@keyframes fadedown {
    0% {
        transform: translateY(-1rem);
    }
    100% {
        opacity: 1;
        tranform: translateY(0);
    }
}


@keyframes up{
    0% {
        opacity: 0;
    }
    50%{
        opacity:1;
    }
    100%{
        opacity:0;

    }
}

@keyframes spin{
    0%{
        transform: rotate(0deg);
    }
    100%{
        opacity:1;
        transform: rotate(360deg)
    }
}

@keyframes move{
    0% {
        transform: translateX(-10rem);
    }
    100%{
        transform:translateX(0);
    }
}