body{
    font-family: "Handlee", sans-serif;
    text-align: center;
    color:white;
    overflow-x:hidden;
}

html{
    scroll-behavior: smooth;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.text{
    display: flex;
    flex-direction: column;
    color:white;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: absolute;
    bottom:0;
    font-size: 36px;
}


.slider{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height:100vh;
    /* background: linear-gradient(to left,#304352 , #d7d2cc); */
    background:linear-gradient(to right, #b993d6,#8ca6db);
    z-index: -1;
}


section {
    display: flex;
    height:80vh;
    justify-content: center;
    align-items: center;
}

.barbara {
    padding: 50px;
    height: 80%;
    width: 80%;
    position: absolute;
}

 .barbara {
    /* width: 100%;
    height: 100%; */
    object-fit: cover;
    
} 

.barbara::after{
    content:"";
    background:pink;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    opacity: 0;
    top: 0;
} 

.button:hover {
     color: orange;
}

:root {
    --primary-color:rgba(140,166,219, 0.993);
    --overlay-color:rgba(140,166,219, 0.85);
    --menu-speed:0.75s;
}

 .barbara #Rightarm {
   animation: movehand 1s infinite linear alternate;
   transform-origin: top;
   transform-box: fill-box;
  
}

.barbara #Leftarm{
   animation: movehand 1s infinite linear alternate;
   transform-origin: top;
   transform-box: fill-box;

}

@keyframes movehand {
    from {
        transform: rotateZ(0deg);
    }
    to {
        transform: rotateZ(5deg);
    }
}

.barbara #smoke1 {
        animation: smoke 4s linear infinite;
        transition: 0.5s linear;
}

.barbara #smoke2 {
    animation: smoke 4s linear infinite;
    transition: 0.5s linear;
}

@keyframes smoke {
    0%{
     transform: translateY(0px);
    }
    50%{
      transform: translateY(-35px);
      opacity: 1;
    }
    70%{
      transform: translateY(-55px);
      opacity: 1;
      width: 75%;
      margin-left: 20px;
    }
    
    100%{
     transform: translateY(-115px);
      opacity: 0.2;
      width: 20%;
      margin-left: 40px;
    }
    
  }


/*discover section*/
.discover{
    background: linear-gradient(to right,  #b993d6,#8ca6db);
    padding-top:50px;
    display:flex;
    align-items: center;
    justify-content: center;
}

.global-headline{
    text-align: center;
    margin-top: 6.9rem;
}

.global-headline .sub-headline{
    letter-spacing: 1px;
    line-height:1;
    
}

.headline{
    color: white;
    animation: scale 1s forwards;
    
}

.sub-headline {
    font-size: 36px;
    font-weight:100;
    line-height:1;
    opacity :0;
    animation: fadeup 2s forwards;
    animation-delay: .5s;

}

P{
    line-height: 1;
    font-size: 24px;
    animation: fadedown 2s backwards;
    animation-delay: .5s;
}

.my-info{
    text-align: center;
}

.my-info-img {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap:1.5rem;
}

.my-description {
    margin-bottom: 3rem;

}

.my-description p{
    line-height: 1.6;
    margin-bottom: 2.4rem;

}

.body-btn{
    font-size:1.5rem;
    color:white;
    position:relative;
    transition: color .5s
}

.body-btn::before{
    content:"";
    position: absolute;
    left:0;
    bottom:-3px;
    width:100%;
    height:2px;
}

.body-btn:hover,
.body-btn:focus{
    color:gold;
}

.body-btn:hover::before,
.body-btn:focus::before{
    background-color:black;
}

/*line & astrisk*/
.line{
    width: 100%;
    max-width: 8.4rem;
    height:.25rem;
    background-color:white;
    position: relative;
    opacity: 0;
    animation: grow 2s forwards;
    animation-delay:.5s;
}

.line-right::before,
.line-left::before{
    content:"";
    position:absolute;
    top:50%;
    opacity:0;
    transform:translateY(-50%);
    border: .6rem solid transparent;
    animation: grow 2s forwards;
    animation-delay:.9s;

}

.line-right::before{
    border-right-color:white;
    right: 0;

}

.line-left::before{
    border-left-color:white;
    left:0;
} 

/*asterisk*/
.heart{
    color:pink;
    margin: 0 1.6rem;
}

.single-animation {
    opacity:0 ;
    animation: fadedown 2s backwards;
    animation-delay: .5s;
}








/*profolio*/

.profolio{
    background: linear-gradient(to right,  #b993d6,#8ca6db);
}

.between{
    min-height:65vh;
    display: flex;
    align-items:center;
}

.profolio p {
    letter-spacing: 1px;
    line-height:1;
}

.github{
    background: linear-gradient(to right,  #b993d6,#8ca6db);
}

.image-group {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap:1.5rem;
}

.my-description{
    padding-top: 3rem;
    margin-bottom:0;
}


/*footer*/
.footer{
    padding: 7.9rem 0;
    background: linear-gradient(to left, #232526,#414345);
    color:white;
    text-align:center;
    position: relative;
}

.back-to-top{
    width: 7rem;
    height: 7rem;
    position: absolute;
    top: -3rem;
    left: 50%;
    transform: translateX(-50%);
    border-radius:50%;
}

.back-to-top i{
    display:block;
    color:white;
    font-size: 2rem;
    padding: 2rem;
    animation: up 2s infinite;

}


.footer-content {
    overflow:hidden;
    display:flex;
    align-items: center;
    justify-content: center;

}

.footer-content h3{
    font-size:1.5rem;
    font-weight: 100;
    letter-spacing:5px;
    margin-bottom: 3.5rem;
    display:flex;
    align-items:center;
    justify-content: center;
    line-height:1.6 ;
    
}

.footer-content .asterisk {
    margin: 2.4rem 0;
}

.social-icon {
    list-style:none;
    margin-bottom: 8.5rem;
    display:flex;
    justify-content:center;
    align-items: center;
}

.social-icon i {
    font-size:2rem;
    color:white;
    padding: .8rem 2rem;
    opacity: .5;
    transition: color .5s;
    display:flex;
    align-items: center;
    justify-content: center;
}

.social-icon i:hover
.social-icon i:focus{
    color:gold;
}

/* responsive media queries*/
@media screen and (min-width : 900px) {
    div {
        padding: 10px 0px;

    }
    .barbara #GENIUS {
        padding: 7.9rem;
    }
    
    .sub-headline {
        font-size: 3.5rem;
    }
    .first-letter {
        font-size:5rem;
    }
    .headline{
        font-size:3.5rem;
        letter-spacing:.8rem;
    }
    .line{
        max-width: 11.4rem;
    }
    .my-info{
        display:flex;
        align-items:center;
    }
    .my-info > div{
       flex:1;
    }
    .padding-right {
        padding-right: 7rem;
    }
    .footer-content {
        max-width: 77.5rem;
        margin: auto;
    }
    .footer-content-about {
        max-width: 51.3rem;
        margin: 0 auto 5.4rem;
    }
    .footer-content-divider{
        display:flex;
        justify-content: space-between;
    }
    .social-media{
        width: 100%;
        max-width:27.3rem;
        margin: 0 1rem;
    }
    .social-icon i{
        opacity:1;
    } 

}


/*animation*/
@keyframes fadeup {
    0% {
        transform: translateY(4rem);
    }
    100% {
        opacity: 1;
        tranform: translateY(0);
    }
}

@keyframes scale {
    0% {
        transform: scale(2);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes grow {
    0% {
        width:0;
    }
    100% {
        opacity: 1;
        width:100%;
    }
}


@keyframes fadedown {
    0% {
        transform: translateY(-1rem);
    }
    100% {
        opacity: 1;
        tranform: translateY(0);
    }
}

@keyframes up{
    0% {
        opacity: 0;
    }
    50%{
        opacity:1;
    }
    100%{
        opacity:0;
        tranform: translateY(-1rem);
    }
}